https://docs.google.com/spreadsheets/d/1oW4DIqgWrk93UE2giOjgXBCJav0ESPNK/edit?usp=share_link&ouid=114478547659514539503&rtpof=true&sd=true

https://docs.google.com/spreadsheets/d/1ajj3w2IwQMg9PF2Eo_kI7X5h-LbSUBa9/edit?usp=share_link&ouid=114478547659514539503&rtpof=true&sd=true

In [ ]:
!gdown 1oW4DIqgWrk93UE2giOjgXBCJav0ESPNK
!gdown 1ajj3w2IwQMg9PF2Eo_kI7X5h-LbSUBa9

Downloading...
From: https://drive.google.com/uc?id=1oW4DIqgWrk93UE2giOjgXBCJav0ESPNK
To: /content/Подразделение2.xlsx
100% 37.8k/37.8k [00:00<00:00, 26.8MB/s]
Downloading...
From: https://drive.google.com/uc?id=1ajj3w2IwQMg9PF2Eo_kI7X5h-LbSUBa9
To: /content/Подразделение1.xlsx
100% 42.8k/42.8k [00:00<00:00, 29.5MB/s]

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
t1 = pd.read_excel('/content/Подразделение1.xlsx', sheet_name="Часы 01-23")
t2 = pd.read_excel('/content/Подразделение1.xlsx', sheet_name="Часы 02-23")
t3 = pd.read_excel('/content/Подразделение2.xlsx', sheet_name="Часы 01-23")
t4 = pd.read_excel('/content/Подразделение2.xlsx', sheet_name="Часы 02-23")

1. Общее кол-во сотрудников из выбранного подразделения, за выбранный период по всем подрядчикам. Динамика по дням.  
2. Соотношение долей работающих сотрудников (в процентах) разных подразделений за выбранный период.
3. Общее количество сотрудников, которые работали в выбранный день.
P.S. для решения задачи нужно использовать одно подключение.

In [ ]:
t1.head()

,Компания,Фио,Подразделение,2023-01-01 00:00:00,2023-01-02 00:00:00,2023-01-03 00:00:00,2023-01-04 00:00:00,2023-01-05 00:00:00,2023-01-06 00:00:00,2023-01-07 00:00:00,...,2023-01-22 00:00:00,2023-01-23 00:00:00,2023-01-24 00:00:00,2023-01-25 00:00:00,2023-01-26 00:00:00,2023-01-27 00:00:00,2023-01-28 00:00:00,2023-01-29 00:00:00,2023-01-30 00:00:00,2023-01-31 00:00:00
0,Подрядчик1,1,Подразделение1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Подрядчик1,2,Подразделение1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,9.4,0.0,11.8,0.0,0.0,0.0
2,Подрядчик1,3,Подразделение1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.7,0.0,11.7,0.0,0.0
3,Подрядчик1,4,Подразделение1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Подрядчик1,5,Подразделение1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.4,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df1 = t1.merge(t2, on = ['Компания', 'Фио', 'Подразделение'], how = 'outer')
df1.head()

,Компания,Фио,Подразделение,2023-01-01 00:00:00,2023-01-02 00:00:00,2023-01-03 00:00:00,2023-01-04 00:00:00,2023-01-05 00:00:00,2023-01-06 00:00:00,2023-01-07 00:00:00,...,2023-02-19 00:00:00,2023-02-20 00:00:00,2023-02-21 00:00:00,2023-02-22 00:00:00,2023-02-23 00:00:00,2023-02-24 00:00:00,2023-02-25 00:00:00,2023-02-26 00:00:00,2023-02-27 00:00:00,2023-02-28 00:00:00
0,Подрядчик1,1,Подразделение1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Подрядчик1,2,Подразделение1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Подрядчик1,3,Подразделение1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Подрядчик1,4,Подразделение1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Подрядчик1,5,Подразделение1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,17.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,Подрядчик5,445,Подразделение1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
561,Подрядчик5,446,Подразделение1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,11.0,0.0,11.0,11.0,11.0,0.0,0.0,0.0
562,Подрядчик5,447,Подразделение1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.0,11.0,11.0,11.0,11.0,11.0,11.0,0.0,0.0,0.0
563,Подрядчик5,448,Подразделение1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.0,11.0,0.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0
564,Подрядчик5,449,Подразделение1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df1 = df1.melt(id_vars=['Компания', 'Фио', 'Подразделение'], var_name='Date', value_name='hours').fillna(0)

In [ ]:
df1.head()

         Компания  Фио   Подразделение       Date  hours
0      Подрядчик1    1  Подразделение1 2023-01-01    0.0
1      Подрядчик1    2  Подразделение1 2023-01-01    0.0
2      Подрядчик1    3  Подразделение1 2023-01-01    0.0
3      Подрядчик1    4  Подразделение1 2023-01-01    0.0
4      Подрядчик1    5  Подразделение1 2023-01-01    0.0
...           ...  ...             ...        ...    ...
33330  Подрядчик5  445  Подразделение1 2023-02-28    0.0
33331  Подрядчик5  446  Подразделение1 2023-02-28    0.0
33332  Подрядчик5  447  Подразделение1 2023-02-28    0.0
33333  Подрядчик5  448  Подразделение1 2023-02-28    0.0
33334  Подрядчик5  449  Подразделение1 2023-02-28    0.0

[33335 rows x 5 columns]

In [ ]:
df2 = t3.merge(t4, on = ['Компания', 'Фио', 'Подразделение'], how = 'outer')
df2.head()

,Компания,Фио,Подразделение,2023-01-01 00:00:00,2023-01-02 00:00:00,2023-01-03 00:00:00,2023-01-04 00:00:00,2023-01-05 00:00:00,2023-01-06 00:00:00,2023-01-07 00:00:00,...,2023-02-19 00:00:00,2023-02-20 00:00:00,2023-02-21 00:00:00,2023-02-22 00:00:00,2023-02-23 00:00:00,2023-02-24 00:00:00,2023-02-25 00:00:00,2023-02-26 00:00:00,2023-02-27 00:00:00,2023-02-28 00:00:00
0,Подрядчик1,1,Подразделение2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Подрядчик1,2,Подразделение2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.0,11.0,11.0,11.0,0.0,11.0,11.0,0.0,0.0,0.0
2,Подрядчик1,3,Подразделение2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Подрядчик1,4,Подразделение2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,11.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Подрядчик1,5,Подразделение2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df2 = df2.melt(id_vars=['Компания', 'Фио', 'Подразделение'], var_name='Date', value_name='hours').fillna(0)

In [ ]:
df = pd.concat([df1, df2])

In [ ]:
df.to_excel("excelsior.xlsx")

In [ ]:
df.to_csv("excelsior.csv")